[submodule "borl"]
	path = borl
	url = git@github.com:schnecki/borl.git
[submodule "simsim"]
	path = simsim
	url = git@github.com:schnecki/simsim.git
[submodule "experimenter"]
	path = experimenter
	url = git@github.com:schnecki/experimenter.git
